[user]
	name = griffio
	email = griffio@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore-osx
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
